<div id="container">
  <div id="header">
    <div class="avatarSection">
      <div class="picture">
        <img src="../../assets/images/noPic.svg" />
      </div>
      <div class="nameSection">{{otheruserName}}</div>
    </div>
    <div class="actionButtons">
      <img src="../../assets/images/attached.svg" />
      <img src="../../assets/images/moreVertIcon.svg" />
    </div>
  </div>
  <div id="body">
    <div
      class="message"
      [ngClass]="{ me: message.senderId == userId ? false : true }"
      *ngFor="let message of conversations"
    > 
    
      <img *ngIf="message.type == 'image'" [src]="localPath + message.content" alt="Image" width="350px" height="200px">
      <video controls *ngIf="message.type === 'video'" width="350px" height="200px" >
        <source [src]="localPath + message.content" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <audio controls *ngIf="message.type === 'audio'" width="350px" height="200px" >
        <source [src]="localPath + message.content" type="audio/mp3">
        Your browser does not support the html audio tag.
      </audio>
      
    <!---- Since there are many types of data so depending on type of message we will implement this accordingly. -->
      <div class = "replymsg overflowrap" *ngIf="message.replyedToId != 0 ">{{(message.replyedToId)}}
        <div *ngIf="message.type === 'Null'" class="messageContent" (dblclick)="ToggleReplyMsg(message)">
          {{ message.content }}
          <div class="time">{{recentChatDate(message.dateTime) }}</div>
          
            <img
              *ngIf="message.isSeen == 0"
              src="../../assets/images/doubleTick.svg"
            />
            <img
              *ngIf="message.isSeen == 1"
              src="../../assets/images/doubleTickBlue.svg"
            />
        </div>
      </div>
      
    </div>
  </div>
  <!-- To show the replymessage details if we have selected a message. -->
  <div class="search-form flex-grow mr-2 margin-to-left-right " style="width: 90%; align-items: center;" [hidden]="!IsReplying">
    <div class="input-group">
      <p type="text" class="form-control rounded-pill setColor" id="chatForm" readonly><span class="mdi mdi-reply"></span>  {{messageInput.content}}</p>
      <span class="close-button onhoverr" aria-label="Close alert" data-close (click)="CloseRplyMsg()" >
        <span aria-hidden="true">&times;</span>
      </span>
    </div>
  </div>
  
  <div id="footer">
        <div id="smileyIcon">
          <img
            (click)="emojiPickerVisible = !emojiPickerVisible"
            src="../../assets/images/smileIcon.svg"
          />
          <emoji-mart
            (emojiClick)="emojiClicked($event)"
            *ngIf="emojiPickerVisible"
            style="position: absolute; bottom: 50px"
            [darkMode]="false"
            title="Pick your emoji…"
            emoji="point_up"
          ></emoji-mart>
        </div>
    <div id="textarea">
      <textarea
        [(ngModel)]="message"
        (keyup.enter)="submitMessage($event)"
      ></textarea>
    </div>
    <div id="fileIcon">
      <img src="../assets/images/fileIcon.svg" (click)="openBasicModal(basicModal)" />
    </div>
    <!-- MODAL -->
    <ng-template #basicModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select File To Send</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" class="file-upload" (change)="onFileSelected($event)" #File accept="audio/*,video/*,image/*">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadFile();modal.close()">Send</button>
      </div>
    </ng-template>
    
    <div id="micIcon">
      <img src="../../assets/images/voiceIcon.svg" />
    </div>
  </div>
</div>