<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="https://play-lh.googleusercontent.com/4Wgxog4OZann4mhVKXED0S2vCnj_b_0Lg9DkOEpN6L_IhCdK3DLHDzkcmMTsmNRhWEQ" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			ChatApp
		  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Link</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle nav-right ms-auto pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Settings
			</a>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="#">View Profile Page</a></li>
			  <li><a class="dropdown-item" href="#">Edit Profile Page</a></li>
			  <li><hr class="dropdown-divider"></li>
			  <li><a class="dropdown-item" href="#">Logout</a></li>
			</ul>
		  </li>
		  
		</ul>
		
	  </div>
	</div>
  </nav> -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">
		<img src="https://play-lh.googleusercontent.com/4Wgxog4OZann4mhVKXED0S2vCnj_b_0Lg9DkOEpN6L_IhCdK3DLHDzkcmMTsmNRhWEQ" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
		ChatApp
	  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		
  
		<!-- Move the Settings dropdown outside of the navbar-nav to align it to the left -->
		<ul class="navbar-nav mb-2 mb-lg-0 mr-3">
		    <li class="nav-item">
				<a class="nav-link" routerLink ="/view-profile">View Profile Page</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" routerLink = "/edit-profile" href="#" (click)="onEdit($event)">Edit Profile Page</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" (click)="onLogout($event)"  >Logout</a>
			  </li>
			
		</ul>
	  </div>
	</div>
  </nav>
  
  